
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about_header">
    <div>
        <p>ZP rent a car</p>
        <p> – это надежный и качественный сервис для аренды автмобилей, который позволит вам всегда оставаться в движении.</p>
    </div>

</section>

<section class="about_main">
    <div>
        <p>Прокат авто в компании Zp rent a car обеспечит Вам:</p>
        <ul>
            <li>высокий уровень предоставления сервиса - профессиональность и надежность;</li>
            <li>широкий выбор автомобилей от эконом класса до премиум;</li>
            <li>круглосуточную сервисную поддержку 24/7;</li>
            <li>гибкую систему скидок.</li>

        </ul>


    </div>
</section>
<section class="about_location">
    <p>Где мы находимся?</p>
    <p>Главный офис компании Zp rent a car находится в городе Запорожье по адресу пр-т Соборный, 135, гостиница "Интурист", оф.3.</p>
</section>
<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1339.005515915556!2d35.137348534532165!3d47.839379637567724!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d1d9c87be1cfb1%3A0x428c5fd38ffb8591!2z0JjQvdGC0YPRgNC40YHRgg!5e0!3m2!1sru!2sua!4v1467034854816" frameborder="0" allowfullscreen></iframe>

</section>