
@{
    ViewBag.Title = "Автопарк прокат ZP, автомобили эконом- и бизнес- класса";
    ViewBag.Description = "Zp прокат большой выбор авто городе Запорожье посуточно без водителя.";
    ViewBag.Keywords = "прокат,авто,аренда авто,посуточно,без водителя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<RentACar.Car>
<section class="avtopark">
    <h1>Наш Автопарк</h1>

    @Html.Partial("CarsList",Model)

</section>