
@{
    ViewBag.Title = "Сообщение";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@ViewBag.Message</p>
<p>@Html.ActionLink("Вернутся к главной странице", "Index")</p>
<script type="text/javascript">
		document.ready= function() {
		    setTimeout('document.location.href="/Home";', 5000);
 		}
</script>

