@{
    ViewBag.Title = "Трансфер";
}

<section class="transfer">
	
	<div class="transfer_div">
		<p>ZP rent a car предлагает трансфер легковых автомобилей бизнес- и эконом-класса. За вами - только выбор авто.</p>
		<div class="transfer_img">
		<img src="/Content/img/cars.png" alt="">
		</div>
		<p class="transfer_p">Для того, чтобы заказать авто с водителем, обращайтесь по телефону <span>@{Html.RenderAction("PhoneTransfer", "Home");}</span></p>
	</div>

</section>