@{
    ViewBag.Title = "ZP прокат авто, трансфер легковых автомобилей.";
    ViewBag.Description = "Zp прокат авто с водителем, трансфер легковых автомобилей в городе Запорожье";
    ViewBag.Keywords = "прокат,авто,аренда авто,посуточно,с водителем";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="transfer">
	
	<div class="transfer_div">
		<p>ZP rent a car предлагает трансфер легковых автомобилей. За вами - только выбор авто.</p>
		<div class="transfer_img">
		<img src="/Content/img/cars.png" alt="">
		</div>
		<p class="transfer_p">Для того, чтобы заказать авто с водителем, обращайтесь по телефону @{Html.RenderAction("PhoneTransfer", "Home");}</p>
	</div>

</section>