@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/*------------------ Section Menu ----------*/
/* line 25, ../sass/_grids.scss */
.head_menu {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #000;
  border-bottom: 2px solid #85db18;
}
/* line 12, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.head_menu:after {
  content: " ";

  display: block;
  clear: both;
}

/* line 30, ../sass/_grids.scss */
.head_menu .logo {
  width: 19.26606%;
  float: left;
  margin-right: 0.91743%;
  font-family: 'Lobster';
}

/* line 34, ../sass/_grids.scss */
.logo p {
  margin-left: 20.95238%;
  width: 73.80952%;
  float: left;
  margin-right: 4.7619%;
  color: #85db18;
  font-size: 2.5em;
  transform: skewY(-10deg);
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

/* line 44, ../sass/_grids.scss */
.logo .logo_rent {
  margin-left: 20.95238%;
  width: 73.80952%;
  float: left;
  margin-right: 4.7619%;
  text-align: center;
  color: #fff;
  font-size: 2.3em;
  margin-top: -7px;
  margin-bottom: 0;
}

/* line 55, ../sass/_grids.scss */
.logo .logo_prokat {
  margin-left: 20.95238%;
  width: 73.80952%;
  float: left;
  margin-right: 4.7619%;
  text-align: center;
  color: #fff;
  margin-top: -7px;
  margin-bottom: 0;
  font-size: 2em;
}

/*----- Mobile Menu -----*/
/* line 65, ../sass/_grids.scss */
.toggle_nav {
  display: none;
}

/*----- Menu -----*/
/* line 71, ../sass/_grids.scss */
.navigation {
  width: 76.78899%;
  float: left;
  margin-right: 0.91743%;
  margin-top: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}

/* line 78, ../sass/_grids.scss */
.navigation ul {
  display: inline-block;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 84, ../sass/_grids.scss */
.navigation li {
  margin-right: 5.52147%;
  float: left;
  list-style: none;
  font-size: 1.2em;
  text-align: center;
  color: #fff;
}

/* line 92, ../sass/_grids.scss */
.navigation ul :nth-child(6) {
  margin-right: 6.87117%;
}

/* line 97, ../sass/_grids.scss */
.navigation a {
  color: #fff;
  transition: color linear 0.15s;
  text-decoration: none;
}

/* line 103, ../sass/_grids.scss */
.navigation a:hover, .navigation li .current-item{
  color: #85db18;
}

/*------------------ Section Header ----------*/
/* line 110, ../sass/_grids.scss */
.header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: url("/Content/img/index_bg.jpg");
  background-size: cover;
  background-position: 100% 34%;
  height: 700px;
}
/* line 12, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.header:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 117, ../sass/_grids.scss */
.booking {
  margin-left: 10.09174%;
  width: 24.31193%;
  float: left;
  margin-right: 0.91743%;
  background: rgba(200, 200, 194, 0.8);
  margin-top: 4.5283%;
  padding-bottom: 4.5283%;
  font-family: 'Roboto Condensed',Arial;
}

/* line 125, ../sass/_grids.scss */
.booking .book_name {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #aadf3f;
  border-bottom: 2px solid #696155;
  font-size: 1.1em;
  text-align: center;
}

/* line 132, ../sass/_grids.scss */
.booking .book_name p {
  margin: 7px;
}

/* line 135, ../sass/_grids.scss */
.booking form {
  margin-left: 8.30189%;
  width: 83.39623%;
  float: left;
  margin-right: 3.77358%;
  margin-top: 15px;
  font-size: 1em;
}

/* line 141, ../sass/_grids.scss */
.booking form .city_div {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 5px;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background: #fff;
  position: relative;
}

/* line 151, ../sass/_grids.scss */
.booking form .city_div .city {
  width: 85.06787%;
  float: left;
  margin-right: 4.52489%;
  margin-right: 0;
  border: none;
  height: 27px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 38px;
}

/* line 161, ../sass/_grids.scss */
.booking form .city_div .city_logo {
  width: 7.91855%;
  float: right;
  margin-right: 0;
  background: url("/Content/img/location2.png");
  background-repeat: no-repeat;
  height: 25px;
  margin-top: 2px;
  position: absolute;
  right: 0;
}

/* line 171, ../sass/_grids.scss */
.booking form .date, .booking form .time {
  height: 30px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 3px 0 3px 5px;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  color: #505050;
}

/* line 182, ../sass/_grids.scss */
.booking form .date {
  background-image: url("/Content/img/date2.png");
  width: 45.24887%;
  float: left;
  margin-right: 4.52489%;
  margin-right: 0.45249%;
  background-repeat: no-repeat;
  background-position: 96%;
  color: #000;
}

/* line 191, ../sass/_grids.scss */
.booking form .time {
  background-image: url("/Content/img/time2.png");
  width: 45.24887%;
  float: right;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: 96%;
  color: #000;
}

/* line 199, ../sass/_grids.scss */
.booking form .choose_time, .choose_time2 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow-y: scroll;
  height: 150px;
  margin-top: -18px;
  z-index: 1;
  background: #fff;
  display: none;
}

/* line 210, ../sass/_grids.scss */
.choose_time ul, .choose_time2 ul, .choose_city ul {
  text-align: center;
  padding-left: 0;
  margin-top: 0;
}

/* line 216, ../sass/_grids.scss */
.choose_time ul li, .choose_time2 ul li, .choose_city ul li {
  list-style: none;
  border-bottom: 1px solid #85db18;
  padding-bottom: 3px;
  padding-bottom: 6px;
}

/* line 222, ../sass/_grids.scss */
.choose_time ul li:hover, .choose_time2 ul li:hover, .choose_city ul li:hover {
  background: #85db18;
}

/* line 226, ../sass/_grids.scss */
.booking form button {
  background: #85db18;
  border: none;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 7px;
  width: 50.22624%;
  float: right;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 237, ../sass/_grids.scss */
.header_welcome {
  margin-left: 10.09174%;
  width: 39.44954%;
  float: left;
  margin-right: 0.91743%;
  margin-top: 12%;
  font-family: 'Roboto Condensed',Arial;
}

/* line 243, ../sass/_grids.scss */
.header_welcome p {
  color: #fff;
  text-align: center;
  font-size: 1.3em;
  font-family: 'Roboto Condensed',Arial;
}

/* line 251, ../sass/_grids.scss */
.header_welcome button {
  margin-left: 31.97674%;
  width: 36.04651%;
  float: left;
  margin-right: 2.32558%;
  background: #85db18;
  border: none;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 7px;
}

/* line 261, ../sass/_grids.scss */
.header_welcome button a {
  color: #fff;
  text-decoration: none;
}

/*------------------ Section Rent a Car ----------*/
/* line 266, ../sass/_grids.scss */
.rent_car {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}
/* line 12, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.rent_car:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 270, ../sass/_grids.scss */
.rent_car .rent_condition {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #edebeb;
  padding-top: 4.12844%;
  padding-bottom: 4.12844%;
}

/* line 277, ../sass/_grids.scss */
.rent_car .rent_condition .rent_head {
  margin-left: 5.04587%;
  width: 44.49541%;
  float: left;
  margin-right: 0.91743%;
  border-bottom: 1px solid #d2d0d0;
  text-align: center;
  font-family: 'Roboto Condensed',Arial;
}

/* line 284, ../sass/_grids.scss */
.rent_car .rent_condition .condition {
  margin-left: 5.04587%;
  width: 44.49541%;
  float: left;
  margin-right: 0.91743%;
  border-bottom: 1px solid #d2d0d0;
  padding-bottom: 1.10092%;
  font-size: 1.1em;
}

/* line 292, ../sass/_grids.scss */
.rent_car .rent_condition .condition .card_condition {
  padding-left: 40px;
}

/* line 296, ../sass/_grids.scss */
.rent_car .rent_condition :last-child {
  border: none;
}

/* line 300, ../sass/_grids.scss */
.rent_car .rent_condition .rent_img {
  width: 39.44954%;
  float: right;
  margin-right: 0;
}

/* line 306, ../sass/_grids.scss */
.rent_car .rent_condition .rent_img img {
  width: 100%;
}

/*------------------ Section Map ----------*/
/* line 311, ../sass/_grids.scss */
.map {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.map:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 314, ../sass/_grids.scss */
.map iframe {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 350px;
  border: 0;
}

/*------------------ Section Footer ----------*/
/* line 320, ../sass/_grids.scss */
.footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #000;
}
/* line 12, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.footer:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 325, ../sass/_grids.scss */
footer {
  margin-left: 10.09174%;
  width: 79.81651%;
  float: left;
  margin-right: 0.91743%;
  padding-top: 1.37931%;
}

/* line 331, ../sass/_grids.scss */
footer .footer_menu {
  width: 24.13793%;
  float: left;
  margin-right: 1.14943%;
  font-size: 1.2em;
  font-family: 'Roboto Condensed',Arial;
}

/* line 337, ../sass/_grids.scss */
footer .footer_menu ul {
  list-style: none;
  padding-left: 0;
}

/* line 341, ../sass/_grids.scss */
footer .footer_menu ul li {
  padding-bottom: 10px;
}

/* line 344, ../sass/_grids.scss */
footer .footer_menu ul li a {
  color: #fff;
  text-decoration: none;
}

/* line 348, ../sass/_grids.scss */
footer .footer_name {
  width: 49.42529%;
  float: left;
  margin-right: 1.14943%;
  text-align: center;
}

/* line 353, ../sass/_grids.scss */
footer .footer_name :first-child {
  color: #fff;
  font-family: 'Lobster';
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 360, ../sass/_grids.scss */
footer .footer_name :nth-child(2) {
  color: #85db18;
  font-size: 2.5em;
  transform: translateY(-13px) skewY(-13deg);
  font-family: 'Lobster';
  margin-top: 0;
}

/* line 368, ../sass/_grids.scss */
footer .footer_name :last-child {
  color: #fff;
  margin-top: 30.45977%;
  margin-bottom: 5.17241%;
  font-size: 1.2em;
  font-family: 'Roboto Condensed',Arial;
}

/* line 376, ../sass/_grids.scss */
footer .footer_contacts {
  width: 24.13793%;
  float: right;
  margin-right: 0;
  text-align: right;
  color: #85db18;
  font-family: 'Lobster';
}

/* line 383, ../sass/_grids.scss */
footer .footer_contacts p {
  font-size: 1.4em;
}

/* line 386, ../sass/_grids.scss */
footer .footer_contacts :first-child {
  margin-top: 5px;
}

/* line 389, ../sass/_grids.scss */
footer .footer_contacts :last-child {
  margin-top: 68.3908%;
  margin-bottom: 5.17241%;
  color: #585858;
  font-size: 1.2em;
}

/* line 395, ../sass/_grids.scss */
footer .footer_contacts a {
  text-decoration: none;
}

/*------------------ Autopark page ----------*/
/* line 406, ../sass/_grids.scss */
.avtopark {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}
/* line 12, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.avtopark:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 411, ../sass/_grids.scss */
.avtopark h1 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Roboto Condensed',Arial;
}

/* line 420, ../sass/_grids.scss */
.avtopark .avto {
  margin-left: 10.09174%;
  width: 39.44954%;
  float: left;
  margin-right: 0.91743%;
  text-align: center;
  background: #f4f4f4;
  margin-bottom: 40px;
  margin-right: 20px;
  font-family: 'Roboto Condensed',Arial;
}

/* line 430, ../sass/_grids.scss */
.avtopark .avto p {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #85db18;
  margin-top: 0;
  font-family: 'Roboto Condensed',Arial;
  font-weight: bold;
}

/* line 439, ../sass/_grids.scss */
.avtopark .avto .avto_img {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  height: 300px;
}

/* line 446, ../sass/_grids.scss */
.avtopark .avto .avto_img img {
  max-width: 97.44186%;
  max-height: 300px;
}

/* line 452, ../sass/_grids.scss */
.avtopark .charact {
  width: 39.44954%;
  float: left;
  margin-right: 0.91743%;
  margin-bottom: 40px;
  font-family: 'Roboto Condensed',Arial;
}

/* line 457, ../sass/_grids.scss */
.avtopark .charact .charact_name {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  background: #85db18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

/* line 469, ../sass/_grids.scss */
.avtopark .charact .charact_list {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  height: 355px;
  background: #f4f4f4;
  padding-top: 10px;
  font-size: 1.2em;
}

/* line 478, ../sass/_grids.scss */
.avtopark .charact .charact_list p {
  margin-bottom: 5px;
  margin-top: 0;
}

/*------------------ Transfer page ----------*/
/* line 488, ../sass/_grids.scss */
.transfer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.transfer:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 491, ../sass/_grids.scss */
.transfer .transfer_div {
  margin-left: 10.09174%;
  width: 79.81651%;
  float: left;
  margin-right: 0.91743%;
  margin-top: 20px;
  font-family: 'Roboto Condensed',Arial;
  font-size: 1.2em;
}

/* line 500, ../sass/_grids.scss */
.transfer .transfer_div :first-child {
  margin-left: 25.28736%;
  width: 49.42529%;
  float: left;
  margin-right: 1.14943%;
  text-align: center;
}

/* line 507, ../sass/_grids.scss */
.transfer .transfer_div .transfer_img {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 513, ../sass/_grids.scss */
.transfer .transfer_div .transfer_img img {
  width: 100%;
  height: initial;
}

/* line 517, ../sass/_grids.scss */
.transfer .transfer_div .transfer_p {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  margin-bottom: 50px;
}

/*------------------ Booking page ----------*/
/* line 524, ../sass/_grids.scss */
.booking_car {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: url("/Content/img/keys4.jpg") no-repeat;
  background-position: 51% 59%;
}
/* line 12, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.booking_car:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 529, ../sass/_grids.scss */
.booking_car .booking_car_div {
  margin-left: 10.09174%;
  width: 79.81651%;
  float: left;
  margin-right: 0.91743%;
  background: rgba(18, 18, 18, 0.6);
  margin-top: 40px;
  border-radius: 5px;
  border: 1px solid rgba(18, 18, 18, 0.5);
  margin-bottom: 40px;
}

/* line 541, ../sass/_grids.scss */
.booking_car .booking_car_div .car_name {
  font-family: 'Roboto';
  text-align: center;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.5em;
  color: #fff;
}

/* line 549, ../sass/_grids.scss */
.booking_car .booking_car_div form {
  margin-left: 6.32184%;
  width: 87.35632%;
  float: left;
  margin-right: 1.14943%;
  font-family: 'Roboto Condensed',Arial;
}

/* line 554, ../sass/_grids.scss */
.booking_car .booking_car_div form p {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 2px;
}

/* line 559, ../sass/_grids.scss */
.booking_car .booking_car_div form .left_form {
  width: 42.10526%;
  float: left;
  margin-right: 1.31579%;
  margin-right: 0;
}

/* line 563, ../sass/_grids.scss */
.left_form .city_div {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 38px;
  margin-bottom: 20px;
  margin-top: 5px;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background: #fff;
  position: relative;
}

/* line 573, ../sass/_grids.scss */
.left_form .city_div .city {
  width: 89.6875%;
  float: left;
  margin-right: 3.125%;
  margin-right: 0;
  border: none;
  height: 35px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 38px;
}

/* line 583, ../sass/_grids.scss */
.left_form .city_div .city_logo {
  width: 5.46875%;
  float: right;
  margin-right: 0;
  background: url("/Content/img/location2.png");
  background-repeat: no-repeat;
  height: 25px;
  margin-top: 6px;
  position: absolute;
  right: 0;
}

/* line 593, ../sass/_grids.scss */
.left_form .date, .left_form .time {
  height: 38px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 3px 0 3px 5px;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  color: #505050;
}

/* line 604, ../sass/_grids.scss */
.left_form .date {
  background-image: url("/Content/img/date2.png");
  width: 45%;
  float: left;
  margin-right: 3.125%;
  margin-right: 3.75%;
  background-repeat: no-repeat;
  background-position: 96%;
  color: #000;
}

/* line 613, ../sass/_grids.scss */
.left_form .time {
  background-image: url("/Content/img/time2.png");
  width: 45%;
  float: right;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: 96%;
  color: #000;
}

/* line 621, ../sass/_grids.scss */
.left_form .choose_time, .choose_time2 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow-y: scroll;
  height: 150px;
  margin-top: -18px;
  z-index: 1;
  background: #fff;
  display: none;
}

/* line 631, ../sass/_grids.scss */
.choose_city {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow-y: scroll;
  height: 75px;
  margin-top: -18px;
  z-index: 1;
  background: #fff;
  display: none;
}

/* line 641, ../sass/_grids.scss */
.left_form .wish {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 38px;
  border: none;
  padding-left: 5px;
}

/* line 648, ../sass/_grids.scss */
.booking_car .booking_car_div form .right_form {
  width: 42.10526%;
  float: right;
  margin-right: 0;
}

/* line 651, ../sass/_grids.scss */
.right_form input, .right_form select {
  width: 100%;
  float: right;
  margin-right: 0;
  height: 38px;
  padding-left: 5px;
  margin-bottom: 20px;
  border: none;
  margin-top: 5px;
}

/* line 662, ../sass/_grids.scss */
.right_form .avto {
  margin-bottom: 0;
}

/* line 665, ../sass/_grids.scss */
.show_avto {
  margin-left: 7.23684%;
  width: 85.52632%;
  float: left;
  margin-right: 1.31579%;
  margin-top: 10px;
  display: none;
}

/* line 671, ../sass/_grids.scss */
.show_avto_img {
  width: 49.23077%;
  float: left;
  margin-right: 1.53846%;
}

/* line 675, ../sass/_grids.scss */
.show_avto_img img {
  width: 96.5625%;
  float: left;
  margin-right: 3.125%;
  height: initial;
}

/* line 680, ../sass/_grids.scss */
.show_avto_charact {
  width: 49.23077%;
  float: right;
  margin-right: 0;
}

/* line 683, ../sass/_grids.scss */
.show_avto_charact p {
  color: #fff;
}

/* line 686, ../sass/_grids.scss */
.sum {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 40px;
}

/* line 691, ../sass/_grids.scss */
.sum p {
  width: 42.10526%;
  float: right;
  margin-right: 0;
  text-align: left;
}

/* line 695, ../sass/_grids.scss */
.booking_car .booking_car_div form button {
  margin-left: 36.18421%;
  width: 27.63158%;
  float: left;
  margin-right: 1.31579%;
  background: #85db18;
  border: none;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 7px;
  margin-top: 60px;
  height: 38px;
  margin-bottom: 60px;
}

/*------------------ Contacts page ----------*/
/* line 708, ../sass/_grids.scss */
.location {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #000;
}
/* line 12, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.location:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 712, ../sass/_grids.scss */
.location .location_info {
  width: 49.54128%;
  float: left;
  margin-right: 0.91743%;
  width: 50%;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: 'Roboto Condensed',Arial;
  padding-top: 50px;
  margin-right: 0;
  font-size: 1.5em;
}

/* line 724, ../sass/_grids.scss */
.location .location_info :last-child {
  margin-top: 0;
}

/* line 727, ../sass/_grids.scss */
.location .location_info :nth-child(4) {
  margin-bottom: 0;
}

/* line 730, ../sass/_grids.scss */
.location .location_info :nth-child(2) {
  margin-left: 10.18519%;
  width: 79.62963%;
  float: left;
  margin-right: 1.85185%;
  margin-top: 0;
  margin-bottom: 65px;
}

/* line 736, ../sass/_grids.scss */
.location .ofice {
  width: 49.54128%;
  float: right;
  margin-right: 0;
  width: 50%;
}

/* line 742, ../sass/_grids.scss */
.location .ofice img {
  width: 100%;
  float: right;
  margin-right: 0;
}

/* line 745, ../sass/_grids.scss */
.feedback {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #000;
}
/* line 12, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.feedback:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 750, ../sass/_grids.scss */
.feedback .intourist {
  width: 49.54128%;
  float: left;
  margin-right: 0.91743%;
  width: 50%;
  margin-right: 0;
}

/* line 755, ../sass/_grids.scss */
.feedback .intourist img {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 759, ../sass/_grids.scss */
.feedback .feedback_form {
  width: 49.54128%;
  float: right;
  margin-right: 0;
  width: 50%;
}

/* line 763, ../sass/_grids.scss */
.feedback .feedback_form p {
  font-family: 'Roboto Condensed',Arial;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  padding-top: 20px;
  margin-bottom: 40px;
}

/* line 771, ../sass/_grids.scss */
.feedback .feedback_form form {
  margin-left: 10.18519%;
  width: 79.62963%;
  float: left;
  margin-right: 1.85185%;
  margin-right: 0;
}

/* line 776, ../sass/_grids.scss */
.feedback .feedback_form form input {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-bottom: 23px;
  padding-left: 5px;
}

/* line 785, ../sass/_grids.scss */
.feedback .feedback_form form textarea {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border: none;
  border-radius: 5px;
  margin-bottom: 23px;
  height: 180px;
}

/* line 792, ../sass/_grids.scss */
.feedback .feedback_form form button {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #63bb4d;
  height: 35px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  border: none;
  color: #fff;
}

/*------------------ About Us page ----------*/
/* line 806, ../sass/_grids.scss */
.about_header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: url("/Content/img/zp.jpg");
  height: 400px;
  background-position: 100% 50%;
}
/* line 12, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.about_header:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 813, ../sass/_grids.scss */
.about_header div {
  margin-left: 10.09174%;
  width: 79.81651%;
  float: left;
  margin-right: 0.91743%;
  color: #fff;
}

/* line 819, ../sass/_grids.scss */
.about_header div :first-child {
  width: 32.98851%;
  float: left;
  margin-right: 1.14943%;
  font-family: 'Lobster';
  font-size: 4em;
  margin-top: 115px;
}

/* line 826, ../sass/_grids.scss */
.about_header div :last-child {
  width: 62.06897%;
  float: left;
  margin-right: 1.14943%;
  font-family: 'Roboto',Arial;
  font-size: 1.5em;
  margin-top: 150px;
  margin-right: 0;
}

/* line 833, ../sass/_grids.scss */
.about_main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #e9ebec;
}
/* line 12, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.about_main:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 838, ../sass/_grids.scss */
.about_main div {
  margin-left: 20.18349%;
  width: 59.63303%;
  float: left;
  margin-right: 0.91743%;
  text-align: left;
  font-family: 'Roboto',Arial;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 1.3em;
}

/* line 849, ../sass/_grids.scss */
.about_main div ul li {
  padding-bottom: 10px;
}

/* line 852, ../sass/_grids.scss */
.about_location {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: url("/Content/img/intourist.jpg");
  height: 400px;
  background-position: 60% 60%;
  font-family: 'Roboto',Arial;
  color: #fff;
}
/* line 12, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.about_location:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 860, ../sass/_grids.scss */
.about_location :first-child {
  text-align: center;
  font-size: 2.5em;
  padding-top: 69px;
  margin-top: 0;
}

/* line 866, ../sass/_grids.scss */
.about_location :last-child {
  margin-left: 10.09174%;
  width: 79.81651%;
  float: left;
  margin-right: 0.91743%;
  font-size: 1.5em;
  text-align: center;
  padding-top: 40px;
}

/*----- Responsive -----*/
@media screen and (max-width: 1250px) {
  /* line 877, ../sass/_grids.scss */
  .logo .logo_prokat {
    font-size: 1.7em;
  }

  /* line 881, ../sass/_grids.scss */
  .booking {
    margin-left: 10.09174%;
    width: 26.33028%;
    float: left;
    margin-right: 0.91743%;
    margin-top: 2.26481%;
    padding-bottom: 2.26481%;
  }

  /* line 887, ../sass/_grids.scss */
  .about_header div :first-child {
    font-size: 3.5em;
  }

  /* line 893, ../sass/_grids.scss */
  .location .location_info {
    padding-top: 20px;
  }

  /* line 897, ../sass/_grids.scss */
  .navigation ul {
    padding-left: 10px;
  }

  /* line 900, ../sass/_grids.scss */
  .navigation ul :nth-child(6) {
    margin-right: 4.17178%;
  }
}
/*!!!!!!!!!!!!!!!!!!!   1122  !!!!!!!!!!!!!!!!*/
@media screen and (max-width: 1122px) {
  /* line 906, ../sass/_grids.scss */
  .logo .logo_prokat {
    font-size: 1.5em;
  }

  /* line 910, ../sass/_grids.scss */
  .navigation ul {
    padding-left: 50px;
  }

  /* line 913, ../sass/_grids.scss */
  .navigation li {
    margin-right: 4.17178%;
    font-size: 1.1em;
  }

  /* line 917, ../sass/_grids.scss */
  .booking {
    margin-left: 10.09174%;
    width: 29.3578%;
    float: left;
    margin-right: 0.91743%;
    margin-top: 2.03125%;
    padding-bottom: 2.03125%;
  }

  /* line 923, ../sass/_grids.scss */
  .location .location_info {
    font-size: 1.2em;
  }

  /* line 928, ../sass/_grids.scss */
  .feedback .feedback_form p {
    padding-top: 0;
    margin-bottom: 13px;
  }

  /* line 934, ../sass/_grids.scss */
  .feedback .feedback_form form input {
    height: 33px;
    margin-bottom: 20px;
  }

  /* line 939, ../sass/_grids.scss */
  .feedback .feedback_form form textarea {
    margin-bottom: 20px;
    height: 160px;
  }

  /* line 943, ../sass/_grids.scss */
  .about_header div :first-child {
    font-size: 3em;
  }

  /* line 949, ../sass/_grids.scss */
  .about_header div :last-child {
    font-size: 1.3em;
    margin-top: 145px;
  }
}
/*!!!!!!!!!!!!!!!!!!!   981  !!!!!!!!!!!!!!!!*/
@media screen and (max-width: 981px) {
  /* line 957, ../sass/_grids.scss */
  .head_menu .logo {
    width: 39.44954%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 961, ../sass/_grids.scss */
  .logo p {
    margin-left: 7.67442%;
    width: 10.46512%;
    float: left;
    margin-right: 2.32558%;
    font-size: 2em;
    transform: none;
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
    padding-top: 16px;
  }

  /* line 971, ../sass/_grids.scss */
  .logo .logo_rent {
    margin-left: 2.55814%;
    width: 48.83721%;
    float: left;
    margin-right: 2.32558%;
    text-align: left;
    font-size: 2em;
    margin-top: 0;
    padding-top: 20px;
  }

  /* line 979, ../sass/_grids.scss */
  .logo .logo_prokat {
    margin-left: 2.55814%;
    width: 74.4186%;
    float: left;
    margin-right: 2.32558%;
    text-align: left;
    font-size: 1.5em;
    margin-top: 0;
    padding-top: 20px;
  }

  /* line 987, ../sass/_grids.scss */
  .navigation {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    display: inline-block;
  }

  /* line 993, ../sass/_grids.scss */
  .navigation ul.active {
    display: none;
  }

  /* line 997, ../sass/_grids.scss */
  .navigation ul {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-right: 0;
    width: 100%;
    border-top: 2px solid #85db18;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #000;
    margin-top: 2px;
    padding-left: 0;
  }

  /* line 1008, ../sass/_grids.scss */
  .navigation li {
    float: none;
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 0;
  }

  /* line 1016, ../sass/_grids.scss */
  .navigation ul :nth-child(6) {
    margin-right: 0;
  }

  /* line 1022, ../sass/_grids.scss */
  .toggle_nav {
    width: 9.17431%;
    float: right;
    margin-right: 0;
    padding-top: 20px;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    transition: color linear 0.15s;
    right: 0;
    text-decoration: none;
  }

  /* line 1033, ../sass/_grids.scss */
  .toggle_nav:hover, .toggle-nav.active {
    text-decoration: none;
    color: #85db18;
  }

  /* line 1037, ../sass/_grids.scss */
  .booking {
    margin-left: 10.09174%;
    width: 32.38532%;
    float: left;
    margin-right: 0.91743%;
    margin-top: 1.84136%;
    padding-bottom: 1.84136%;
  }

  /* line 1044, ../sass/_grids.scss */
  footer .footer_menu {
    font-size: 1em;
  }

  /* line 1047, ../sass/_grids.scss */
  footer .footer_contacts p {
    font-size: 1.2em;
  }

  /* line 1050, ../sass/_grids.scss */
  footer .footer_name :first-child {
    font-size: 2.5em;
  }

  /* line 1053, ../sass/_grids.scss */
  footer .footer_name :nth-child(2) {
    font-size: 2em;
  }

  /* line 1057, ../sass/_grids.scss */
  footer .footer_name :last-child {
    font-size: 1em;
  }

  /* line 1061, ../sass/_grids.scss */
  footer .footer_contacts :last-child {
    margin-top: 68.3908%;
    font-size: 1em;
  }

  /*----- Autopark -----*/
  /* line 1068, ../sass/_grids.scss */
  .avtopark .avto {
    margin-left: 10.09174%;
    width: 79.81651%;
    float: left;
    margin-right: 0.91743%;
    margin-bottom: 0;
  }

  /* line 1074, ../sass/_grids.scss */
  .avtopark .avto .avto_img {
    padding-bottom: 10px;
    height: inherit;
    max-height: 300px;
  }

  /* line 1080, ../sass/_grids.scss */
  .avtopark .avto .avto_img img {
    height: initial;
  }

  /* line 1083, ../sass/_grids.scss */
  .avtopark .charact {
    margin-left: 10.09174%;
    width: 79.81651%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 1088, ../sass/_grids.scss */
  .avtopark .charact .charact_list {
    height: 150px;
    text-align: center;
  }

  /* line 1092, ../sass/_grids.scss */
  .location .location_info {
    font-size: 1em;
  }

  /* line 1096, ../sass/_grids.scss */
  .feedback .feedback_form p {
    font-size: 1.2em;
  }

  /* line 1102, ../sass/_grids.scss */
  .feedback .feedback_form form input {
    margin-bottom: 10px;
  }

  /* line 1106, ../sass/_grids.scss */
  .about_header {
    height: 350px;
  }

  /* line 1109, ../sass/_grids.scss */
  .about_header div :first-child {
    font-size: 2.7em;
  }

  /* line 1115, ../sass/_grids.scss */
  .about_header div :last-child {
    font-size: 1.2em;
    margin-top: 135px;
  }
}
/*!!!!!!!!!!!!!!!!!!!   860  !!!!!!!!!!!!!!!!*/
@media screen and (max-width: 860px) {
  /* line 1123, ../sass/_grids.scss */
  .header {
    min-height: 600px;
  }

  /* line 1127, ../sass/_grids.scss */
  .booking {
    margin-top: 50px;
    margin-left: 20.18349%;
    width: 59.63303%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 1132, ../sass/_grids.scss */
  .header_welcome {
    display: none;
  }

  /* line 1135, ../sass/_grids.scss */
  .rent_car .rent_condition {
    padding-top: 4.12844%;
  }

  /* line 1139, ../sass/_grids.scss */
  .rent_car .rent_condition .rent_head {
    margin-left: 10.09174%;
    width: 79.81651%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 1144, ../sass/_grids.scss */
  .rent_car .rent_condition .condition {
    margin-left: 10.09174%;
    width: 79.81651%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 1148, ../sass/_grids.scss */
  .rent_car .rent_condition .rent_img {
    display: none;
  }

  /* line 1152, ../sass/_grids.scss */
  footer .footer_menu {
    display: none;
  }

  /* line 1156, ../sass/_grids.scss */
  footer .footer_name {
    width: 30.45977%;
    float: left;
    margin-right: 1.14943%;
  }

  /* line 1159, ../sass/_grids.scss */
  footer .footer_name :first-child {
    font-size: 2em;
  }

  /* line 1163, ../sass/_grids.scss */
  footer .footer_name :nth-child(2) {
    font-size: 1.5em;
    transform: translateY(-9px) skewY(-13deg);
  }

  /* line 1169, ../sass/_grids.scss */
  footer .footer_name :last-child {
    margin-top: 67.12644%;
    margin-bottom: 11.49425%;
    font-size: 0.8em;
  }

  /* line 1175, ../sass/_grids.scss */
  footer .footer_contacts {
    width: 49.42529%;
    float: right;
    margin-right: 0;
  }

  /* line 1178, ../sass/_grids.scss */
  footer .footer_contacts p {
    font-size: 1.3em;
  }

  /* line 1182, ../sass/_grids.scss */
  footer .footer_contacts :last-child {
    margin-top: 36.78161%;
    margin-bottom: 11.49425%;
    font-size: 1em;
  }

  /* line 1187, ../sass/_grids.scss */
  .transfer .transfer_div {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 1194, ../sass/_grids.scss */
  .transfer .transfer_div :first-child {
    margin-left: 20.18349%;
    width: 59.63303%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 1199, ../sass/_grids.scss */
  .transfer .transfer_div .transfer_img {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }

  /* line 1206, ../sass/_grids.scss */
  .transfer .transfer_div .transfer_img img {
    width: 100%;
    margin-left: 0;
  }

  /* line 1211, ../sass/_grids.scss */
  .transfer .transfer_div .transfer_p {
    margin-left: 10.09174%;
    width: 79.81651%;
    float: left;
    margin-right: 0.91743%;
  }

  /*-----------Booking Responsive--------------------*/
  /* line 1220, ../sass/_grids.scss */
  .booking_car .booking_car_div form p {
    font-size: 1em;
  }

  /* line 1224, ../sass/_grids.scss */
  .booking_car .booking_car_div form .left_form {
    margin-left: 7.23684%;
    width: 85.52632%;
    float: left;
    margin-right: 1.31579%;
  }

  /* line 1229, ../sass/_grids.scss */
  .left_form .city_div {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 1233, ../sass/_grids.scss */
  .left_form .city_div .city {
    width: 93.23077%;
    float: left;
    margin-right: 1.53846%;
    padding-right: 23px;
  }

  /* line 1239, ../sass/_grids.scss */
  .left_form .city_div .city_logo {
    width: 4.38462%;
    float: right;
    margin-right: 0;
  }

  /* line 1247, ../sass/_grids.scss */
  .left_form .date {
    width: 45.84615%;
    float: left;
    margin-right: 1.53846%;
    margin-right: 1.84615%;
  }

  /* line 1254, ../sass/_grids.scss */
  .left_form .time {
    width: 45.84615%;
    float: right;
    margin-right: 0;
  }

  /* line 1263, ../sass/_grids.scss */
  .booking_car .booking_car_div form .right_form {
    margin-left: 7.23684%;
    width: 85.52632%;
    float: left;
    margin-right: 1.31579%;
  }

  /* line 1267, ../sass/_grids.scss */
  .right_form input {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 1271, ../sass/_grids.scss */
  .show_avto {
    margin-left: 21.71053%;
    width: 56.57895%;
    float: left;
    margin-right: 1.31579%;
    margin-top: 10px;
    display: none;
  }

  /* line 1277, ../sass/_grids.scss */
  .show_avto_img {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 1281, ../sass/_grids.scss */
  .show_avto_img img {
    width: 97.44186%;
    float: left;
    margin-right: 2.32558%;
  }

  /* line 1287, ../sass/_grids.scss */
  .show_avto_charact {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin-top: 5px;
  }

  /* line 1292, ../sass/_grids.scss */
  .show_avto_charact p {
    margin-top: 5px;
  }

  /* line 1296, ../sass/_grids.scss */
  .sum {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 1302, ../sass/_grids.scss */
  .sum p {
    margin-left: 7.23684%;
    width: 85.52632%;
    float: left;
    margin-right: 1.31579%;
    text-align: left;
  }

  /* line 1308, ../sass/_grids.scss */
  .booking_car .booking_car_div form button {
    margin-left: 7.23684%;
    width: 85.52632%;
    float: left;
    margin-right: 1.31579%;
  }

  /* line 1313, ../sass/_grids.scss */
  .location .location_info {
    font-size: 0.9em;
  }

  /* line 1317, ../sass/_grids.scss */
  .feedback .feedback_form p {
    font-size: 1em;
  }

  /* line 1323, ../sass/_grids.scss */
  .feedback .feedback_form form input {
    height: 25px;
  }

  /* line 1328, ../sass/_grids.scss */
  .feedback .feedback_form form textarea {
    height: 120px;
    margin-bottom: 10px;
  }

  /* line 1333, ../sass/_grids.scss */
  .feedback .feedback_form form button {
    height: 30px;
  }

  /* line 1337, ../sass/_grids.scss */
  .about_header div :first-child {
    font-size: 2.1em;
  }

  /* line 1343, ../sass/_grids.scss */
  .about_header div :last-child {
    font-size: 1em;
    margin-top: 135px;
  }
}
/*!!!!!!!!!!!!!!!!!!!   669  !!!!!!!!!!!!!!!!*/
@media screen and (max-width: 669px) {
  /* line 1350, ../sass/_grids.scss */
  .head_menu .logo {
    width: 59.63303%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 1354, ../sass/_grids.scss */
  .logo p {
    margin-left: 6.76923%;
    width: 8.61538%;
    float: left;
    margin-right: 1.53846%;
  }

  /* line 1359, ../sass/_grids.scss */
  .logo .logo_rent {
    margin-left: 5.07692%;
    width: 49.23077%;
    float: left;
    margin-right: 1.53846%;
  }

  /* line 1365, ../sass/_grids.scss */
  .logo .logo_prokat {
    margin-left: 5.07692%;
    width: 49.23077%;
    float: left;
    margin-right: 1.53846%;
    font-size: 1.4em;
  }

  /* line 1371, ../sass/_grids.scss */
  .booking {
    margin-left: 10.09174%;
    width: 79.81651%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 1377, ../sass/_grids.scss */
  footer .footer_name {
    width: 36.78161%;
    float: left;
    margin-right: 1.14943%;
  }

  /* line 1381, ../sass/_grids.scss */
  footer .footer_name :last-child {
    margin-top: 57.01149%;
  }

  /* line 1386, ../sass/_grids.scss */
  .transfer .transfer_div :first-child {
    margin-left: 10.09174%;
    width: 79.81651%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 1390, ../sass/_grids.scss */
  .left_form .city_div .city {
    width: 90.69231%;
    float: left;
    margin-right: 1.53846%;
    padding-right: 29px;
  }

  /* line 1396, ../sass/_grids.scss */
  .left_form .city_div .city_logo {
    width: 10.30769%;
    float: right;
    margin-right: 0;
  }

  /* line 1402, ../sass/_grids.scss */
  .sum p {
    margin-left: 7.23684%;
    width: 56.57895%;
    float: left;
    margin-right: 1.31579%;
  }

  /* line 1407, ../sass/_grids.scss */
  .choose_city {
    height: 68px;
  }

  /* line 1410, ../sass/_grids.scss */
  .location .location_info {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
    font-size: 1.5em;
  }

  /* line 1417, ../sass/_grids.scss */
  .location .ofice {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 1422, ../sass/_grids.scss */
  .location .ofice img {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 1425, ../sass/_grids.scss */
  .feedback .intourist {
    display: none;
  }

  /* line 1431, ../sass/_grids.scss */
  .feedback .feedback_form {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 1434, ../sass/_grids.scss */
  .feedback .feedback_form p {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  /* line 1441, ../sass/_grids.scss */
  .feedback .feedback_form form input {
    height: 35px;
    margin-bottom: 23px;
  }

  /* line 1449, ../sass/_grids.scss */
  .feedback .feedback_form form textarea {
    margin-bottom: 23px;
    height: 180px;
    padding-left: 5px;
    padding-top: 5px;
  }

  /* line 1456, ../sass/_grids.scss */
  .feedback .feedback_form form button {
    height: 35px;
    margin-bottom: 20px;
  }

  /* line 1463, ../sass/_grids.scss */
  .about_header div :first-child {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
    margin-bottom: 15px;
  }

  /* line 1470, ../sass/_grids.scss */
  .about_header div :last-child {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin-top: 20px;
    font-size: 1.3em;
  }

  /* line 1479, ../sass/_grids.scss */
  .about_location {
    min-height: 250px;
    background: url("/Content/img/intourist_small.jpg") no-repeat;
    padding-bottom: 20px;
  }

  /* line 1485, ../sass/_grids.scss */
  .about_location :first-child {
    font-size: 2em;
    padding-top: 35px;
  }

  /* line 1491, ../sass/_grids.scss */
  .about_location :last-child {
    font-size: 1.2em;
    padding-top: 10px;
    margin-bottom: 0;
  }

  /* line 1499, ../sass/_grids.scss */
  .about_main div {
    margin-left: 10.09174%;
    width: 79.81651%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 1504, ../sass/_grids.scss */
  .avtopark .charact .charact_list {
    font-size: 1em;
  }
}
/*!!!!!!!!!!!!!!!!!!!   450  !!!!!!!!!!!!!!!!*/
@media screen and (max-width: 450px) {
  /* line 1512, ../sass/_grids.scss */
  .head_menu .logo {
    width: 79.81651%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 1516, ../sass/_grids.scss */
  .logo p {
    margin-left: 5.05747%;
    width: 8.96552%;
    float: left;
    margin-right: 1.14943%;
  }

  /* line 1522, ../sass/_grids.scss */
  .logo .logo_rent {
    margin-left: 3.7931%;
    width: 49.42529%;
    float: left;
    margin-right: 1.14943%;
  }

  /* line 1526, ../sass/_grids.scss */
  .logo .logo_prokat {
    margin-left: 3.7931%;
    width: 49.42529%;
    float: left;
    margin-right: 1.14943%;
  }

  /* line 1531, ../sass/_grids.scss */
  .toggle_nav {
    width: 14.22018%;
    float: right;
    margin-right: 0;
  }
  .header{
          background: url("/Content/img/index_bg_small.jpg");
              min-height: 400px;
    max-height: 500px;
  }

  /* line 1536, ../sass/_grids.scss */
  footer .footer_contacts {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding-top: 10px;
    font-size: 1.4em;
  }

  /* line 1542, ../sass/_grids.scss */
  footer .footer_contacts p {
    font-size: 1em;
  }

  /* line 1546, ../sass/_grids.scss */
  footer .footer_contacts p a {
    margin-top: 50px;
  }

  /* line 1549, ../sass/_grids.scss */
  footer .footer_name {
    display: none;
  }

  /* line 1552, ../sass/_grids.scss */
  .transfer .transfer_div :first-child {
    margin-left: 10.09174%;
    width: 79.81651%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 1556, ../sass/_grids.scss */
  .left_form .city_div .city {
    width: 90.69231%;
    float: left;
    margin-right: 1.53846%;
    padding-right: 23px;
  }

  /* line 1562, ../sass/_grids.scss */
  .left_form .city_div .city_logo {
    width: 10.30769%;
    float: right;
    margin-right: 0;
  }

  /* line 1568, ../sass/_grids.scss */
  .booking_car .booking_car_div {
    margin-left: 5.04587%;
    width: 89.90826%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 1574, ../sass/_grids.scss */
  .booking_car .booking_car_div .car_name {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 1580, ../sass/_grids.scss */
  .booking_car .booking_car_div form {
    margin-left: 5.61224%;
    width: 88.77551%;
    float: left;
    margin-right: 1.02041%;
  }

  /* line 1584, ../sass/_grids.scss */
  .location .location_info {
    font-size: 1.2em;
  }

  /* line 1589, ../sass/_grids.scss */
  .language li a {
    padding-right: 5px;
  }

  /* line 1592, ../sass/_grids.scss */
  .about_header div :first-child {
    font-size: 2.5em;
  }

  /* line 1597, ../sass/_grids.scss */
  .about_header div :last-child {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 350px) {
  /* line 1606, ../sass/_grids.scss */
  .logo p {
    margin-left: 5.05747%;
    width: 8.96552%;
    float: left;
    margin-right: 1.14943%;
  }

  /* line 1612, ../sass/_grids.scss */
  .logo .logo_rent {
    margin-left: 7.58621%;
    width: 49.42529%;
    float: left;
    margin-right: 1.14943%;
  }

  /* line 1616, ../sass/_grids.scss */
  .logo .logo_prokat {
    margin-left: 7.58621%;
    width: 49.42529%;
    float: left;
    margin-right: 1.14943%;
    font-size: 1.3em;
  }
}
/* line 45, ../sass/_normalizer.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../sass/_normalizer.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../sass/_normalizer.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../sass/_normalizer.scss */
[hidden], template {
  display: none;
}

/* line 97, ../sass/_normalizer.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, ../sass/_normalizer.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../sass/_normalizer.scss */
body {
  margin: 0;
}

/* line 132, ../sass/_normalizer.scss */
a {
  background: transparent;
}
/* line 139, ../sass/_normalizer.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, ../sass/_normalizer.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../sass/_normalizer.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../sass/_normalizer.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../sass/_normalizer.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../sass/_normalizer.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../sass/_normalizer.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../sass/_normalizer.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../sass/_normalizer.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, ../sass/_normalizer.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../sass/_normalizer.scss */
dfn {
  font-style: italic;
}

/* line 217, ../sass/_normalizer.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, ../sass/_normalizer.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../sass/_normalizer.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../sass/_normalizer.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../sass/_normalizer.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../sass/_normalizer.scss */
small {
  font-size: 80%;
}

/* line 286, ../sass/_normalizer.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../sass/_normalizer.scss */
sup {
  top: -0.5em;
}

/* line 298, ../sass/_normalizer.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../sass/_normalizer.scss */
img {
  border: 0;
}

/* line 359, ../sass/_normalizer.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../sass/_normalizer.scss */
figure {
  margin: 0;
}

/* line 386, ../sass/_normalizer.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../sass/_normalizer.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 411, ../sass/_normalizer.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, ../sass/_normalizer.scss */
button, input {
  line-height: normal;
}

/* line 435, ../sass/_normalizer.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../sass/_normalizer.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../sass/_normalizer.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../sass/_normalizer.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../sass/_normalizer.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../sass/_normalizer.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../sass/_normalizer.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 506, ../sass/_normalizer.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 516, ../sass/_normalizer.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 1, ../sass/_jquery.scss */
.ui-datepicker .ui-datepicker-header {
  background: #85db18;
  font-family: 'Lobster';
}

/* line 6, ../sass/_jquery.scss */
.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #85db18;
  color: #000;
  border-radius: 2px;
}

/* line 14, ../sass/_jquery.scss */
.ui-widget-header .ui-icon {
  background-image: url("/Content/img/ui-icons_444444_256x240.png");
}

/* line 19, ../sass/_jquery.scss */
.ui-widget-header .ui-state-hover, .ui-widget-header .ui-state-focus {
  background: #85db18;
}

/* line 22, ../sass/_jquery.scss */
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: #85db18;
}

/* line 25, ../sass/_jquery.scss */
.ui-state-active, .ui-widget-content .ui-state-active {
  background: #fff;
  border: 3px solid #85db18;
}
