/* line 23, ../sass/_grids.scss */
body {
}

/* line 26, ../sass/_grids.scss */
.carsTable {
  margin-left: 10.09174%;
  width: 79.81651%;
  float: left;
  margin-right: 0.91743%;
}

/* line 30, ../sass/_grids.scss */
.carsTable table {
  width: 100%;
}

/* line 33, ../sass/_grids.scss */
.carsTable table {
  font-family: Roboto;
  font-size: 1.1em;
  width: 100%;
}
.form-group p{
    font-weight:bold;
}

h2{
 text-align: center;
}

.order{
 float: left;
 width: 50%;
 margin-left: 25%;
 margin-bottom: 30px;
}
.order h4{
 text-align: center;
}
.links a{
 
 color: #000;
}
.links a:hover{
 color: #85db18;
}
.links{
     margin-top: 45px;
h2{
 text-align: center;
}

.order{
 float: left;
 width: 50%;
 margin-left: 25%;
 margin-bottom: 30px;
}
.order h4{
 text-align: center;
}
.links a{
 
 color: #000;
}
.links a:hover{
 color: #85db18;
}
.links{
     margin-top: 45px;
}
.navigationAdmin{
    width:100%;
}