

.carsTable {
  margin-left:25%;
  width:50%;
  float: left;
 
  
}

.carsTable table {
  width: 100%;
padding-left:10%;
font-family: Roboto;
  font-size: 1.1em;
}


.form-group{
    padding-left:10%;
}
.create_button{
     padding-left:10%;
     padding-top:10px;
}
.create_link{
    margin-left:67%;
}
.form-group p{
    font-weight:bold;
}

h2{
 text-align: center;
}

.order{
 float: left;
 width: 50%;
 margin-left: 25%;
 margin-bottom: 30px;
}
.order h4{
 text-align: center;
}
 a{
 
 color: #000;
}
 a:hover{
 color: #85db18;
}
.links{
     margin-top: 45px;
h2{
 text-align: center;
}


.order h4{
 text-align: center;
}

.links{
     margin-top: 45px;
}
