
h2{
    text-align:center;
}
 a{
 
 color: #000;
}
 a:hover{
 color: #85db18;
}
/*Панель администратора*/
.center_div{
 float: left;
 width: 50%;
 margin-left: 25%;
 margin-bottom: 30px;
}


.links a{
    margin-left:10px;
}
/*Управление автопарком*/

.table td{
    padding-right:10px;

}
.table tr{
    padding-bottom:20px;
}

/*Управление заказами*/
.orders_table{
    padding-left:50px;
}



.create_div{
     float: left;
 width: 30%;
 margin-left: 35%;
 margin-bottom: 30px;

}
.create_button{
    margin-top:20px;
    margin-bottom:20px;
}
.back_to_list{
    float:right;
}

.create_link a{
    padding-left:10px;
}