@model RentACar.Models.LoginModel
@{
    ViewBag.Title = "Панель Администратора";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Авторизация</h2>

<section class="carsTable">

    @using(Html.BeginForm("Index", "Admin", FormMethod.Post)
    {
    <p>
    <p>
        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "", @placeholder = "Логин", @required = "true" })
    </p>
        <p>
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "", @placeholder = "Пароль", @required = "true" })
    </p>
    <p>
        <input type="submit" value="Вход" />
    </p>
        }

</section>
