@model RentACar.Models.LoginModel
@{
    ViewBag.Title = "Панель Администратора";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Авторизация</h2>
    <section class="order">

        @using (Html.BeginForm("Index", "Admin", FormMethod.Post))
        {
            <p>Введите логин</p>
            <p>
                @Html.EditorFor(model => model.Username, new { @class = "", @placeholder = "Логин", @required = "true" })
            </p>
            <p>Введите пароль</p>
            <p>
                @Html.EditorFor(model => model.Password, new { @class = "", @placeholder = "Пароль", @required = "true" })
            </p>
            <p>
                <input type="submit" value="Вход" />
            </p>
        }

    </section>
