
@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
    ViewBag.Title = "Zp rent a car Cars, enconomy and luxury vehicles";
    ViewBag.Description = "Zp rent a car, wide choice of rental cars in Zaporozhye.";
    ViewBag.Keywords = "rental,car,car rental,daily,without driver,Zaporozhye,Zaporizhya";

}
@model IEnumerable<RentACar.Car>
<section class="avtopark">
    <h1>Our cars</h1>

    @Html.Partial("CarsList",Model)

</section>