@model RentACar.Models.EmailModel
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}
<section class="location">
    <div class="location_info">
        <p>Our location:</p>
        <p>Main office of the company Zp rent a car is located in 135, Sobornyi ave, Intourist Hotel, of.3, Zaporizhia</p>
        <p>Contacts:</p>
        @{Html.RenderAction("Phone", "Home");}
        @{Html.RenderAction("Email", "Home");}
    </div>
    <div class="ofice">
        <img src="/Content/img/ofice.jpg" alt="">
    </div>
</section>

<section class="feedback">
    <div class="intourist">
        <img src="/Content/img/intourist.png" alt="">
    </div>
    <div class="feedback_form">
        <p>Contact us</p>
        <<p>Обратная связь</p>
        @using (Html.BeginForm("SendEmail", "En", FormMethod.Post))
        {
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Name", @required = "true" } })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Email", @required = "true", @type = "email" } })
            @Html.TextAreaFor(model => model.Message, new { @required = "true", @placeholder = "Your message" })
            <button type="submit">Отправить</button>
        }
    </div>
</section>

<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1339.005515915556!2d35.137348534532165!3d47.839379637567724!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d1d9c87be1cfb1%3A0x428c5fd38ffb8591!2z0JjQvdGC0YPRgNC40YHRgg!5e0!3m2!1sru!2sua!4v1467034854816" frameborder="0" allowfullscreen></iframe>

</section>