
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}
<p>@ViewBag.Message</p>

<script type="text/javascript">
		document.ready= function() {
		    setTimeout('document.location.href="/Home";', 5000);
 		}
</script>


