
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}
<section class="rent_car">
    <p>@ViewBag.Message</p>
    <p>@Html.ActionLink("Back to Main Page","Home")</p>
</section>
    <script type="text/javascript">
        document.ready = function () {
            setTimeout('document.location.href="/Home";', 5000);
        }
    </script>


