@{
    ViewBag.Title = "Трансфер";
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<section class="transfer">
	
	<div class="transfer_div">
		<p>ZP rent a car provides transfers by enconomy cars as well as luxury vehicles</p>
		<div class="transfer_img">
		<img src="/Content/img/cars.png" alt="">
		</div>
		<p>For transfer services you should contact us by phone number<span>@{Html.RenderAction("Phone", "Home");}</span> </p>
        </div>

</section>