@{
    ViewBag.Title = "Zp rent a car,transfers by economy and luxury vehicles in Zaporozhye.";
    ViewBag.Description = "Zp rent a car, transfers from airport or other by economy and luxury vehicles.";
    ViewBag.Keywords = "rental,car,car rental,daily,with driver,Zaporozhye,Zaporizhya";

    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<section class="transfer">
	
	<div class="transfer_div">
		<p>ZP rent a car provides transfers by enconomy cars as well as luxury vehicles</p>
		<div class="transfer_img">
		<img src="/Content/img/cars.png" alt="">
		</div>
		<p class="transfer_p">For transfer services you should contact us by phone number@{Html.RenderAction("PhoneTransfer", "Home");} </p>
        </div>

</section>